:root {
  --text-color: #757575;
  --navlink-color: #2196f3;
  --title-color: #212121;
  --background-grey: #2f303a;
  --background-button: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

.unstyled-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* Header part */

.page-header {
  background-color: #ffffff;
}

.logo-link {
  color: #000000;
}

.logo-item {
  color: var(--navlink-color);
}

.main-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: var(--navlink-color);
}

.contact-nav {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav:hover,
.contact-nav:active,
.contact-nav:focus {
  color: var(--navlink-color);
}

/* Principal title */

.principal-title {
  background-color: #2f303a;
}

.big-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 2.64;
}

.button-title,
.button-title:hover,
.button-title:focus {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* Qualities */

.qualities-list {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.text-qualities {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* What we do */

.sub-title-we-do {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* Our team */

.our-team-section {
  background-color: #f5f4fa;
}

.our-team {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.agent-person {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.ocupation-person {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* Footer section */

.footer-section {
  background-color: var(--background-grey);
}

.footer-logo-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address-nav-location {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts:focus,
.footer-contacts:active,
.footer-contacts:hover {
  color: var(--navlink-color);
}

/* Portofolio */

.but-all {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.but-all:hover,
.but-all:focus,
.but-all:focus {
  color: white;
  background-color: var(--navlink-color);
}

.title-foto {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-foto {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
